<div class="container">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <p>This is regular text.</p>
  <%= render(AlertComponent.new(level: :error, message: "Error message")) %>
  <%= render(AlertComponent.new(level: :warning, message: "Warning message")) %>
  <%= render(AlertComponent.new(level: :info, message: "Info message")) %>
</div>
<div class="container">
  <form method="POST" action="">
    <legend>Form example</legend>

    <div class="actions">
      <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
    </div>
  </form>
</div>
