<% content_for :body do %>
  <div class="flex flex-row">
    <%= render(Admin::SideNavComponent.new(current_user: @current_user)) %>
    <div class="main">
      <h2>#Main</h2>
      <div>
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
